<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InquiryMapper">
 	
 	
	<resultMap id="inquirySelectMap" type="inquiry">
		<result property="inquiryNo" 			column="inquiry_no" 		jdbcType="INTEGER"/>
		<result property="purchaseNo.tranNo"	column="tran_no" 			jdbcType="INTEGER" />
		<result property="inquirerId.userId" 	column="user_id" 		jdbcType="VARCHAR" />
		<result property="inquiryOption" 		column="inquiery_option" 	jdbcType="VARCHAR" />
		<result property="title" 				column="title" 		jdbcType="VARCHAR" />
		<result property="content" 				column="context" 	jdbcType="VARCHAR" />
		<result property="answerStatus" 		column="answer_status" 		jdbcType="VARCHAR" />
		<result property="postDate" 			column="post_date" 		jdbcType="DATE" />
	</resultMap>

</mapper>	